@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Raleway:wght@400;500;700;800;900&display=swap');

:root{
--iris: #4D5AE5;
--ocean: #404BBF;
--navy-blue: #2E2F42; 
--green: #31D0AA;
--slate: #434455;
--light-slate: #8E8F99;
--cornflower: #E7E9FC;
--cloud:#F4F4FD ;
--naval-blue-modal: #2E2F42;
--grey: #2E2F42;
--white: #FFFFFF;
--dairy: #FCFCFC;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px; 
}

.list {
    text-decoration: none;
    padding: 0%;
}

.logo-link {
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color:inherit
}
.logo{
    color:var(--iris);
}
.studio{
    color: var(--navyblue, #2E2F42);
    
}
.page {
    text-decoration: none;
    color:var(--navy-blue);   
}

.item {
    text-decoration: none;
    color: var(--slate);
}
.bg-hero,
.bg-footer{
    background-color: var(--navy-blue);
    color: var(--white, #FFF);
}

.hero {
    text-align: center;  
}
.button {
    cursor: pointer;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.section {
    color: var(--navy-blue)
}
.description{
    color: var(--slate, #434455);
}
.btn-filter{
    color: var(--iris, #4D5AE5);
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}
.btn-filter.current,
.btn-filter:hover,
.btn-filter:focus
{
    color:var(--white);
    background-color: var(--ocean);
}
.project{
    text-decoration: none;
    color: inherit;

}
.type {
    color: var(--slate);
}
.page.current,
.page:hover,
.page:focus,
.item:focus,
.item:hover{
    color:var(--ocean);
}